# 依赖
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out
dist

# 测试
coverage
*.tsbuildinfo

# 环境变量
.env*.local
.env

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# 其他
README.md
.DS_Store
*.md


